// badge

.#{$namespace}badge, .#{$namespace}badge-line {
  display: inline-block;
  min-width: 16px;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #999;
  padding: 2px 3px;
  text-align: center;
}

a.#{$namespace}badge:focus,a.#{$namespace}badge:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.#{$namespace}badge:empty {
  display: none;
}

.#{$namespace}badge.#{$namespace}round,.#{$namespace}round {
  border-radius: 1000px;
}

.#{$namespace}badge.#{$namespace}radius,.#{$namespace}radius {
  border-radius: 2px;
}

.#{$namespace}badge.#{$namespace}square , .#{$namespace}square {
  border-radius: 0;
}

.#{$namespace}badge-primary {
  background-color: #0e90d2;
}

.#{$namespace}badge-secondary {
  background-color: #3bb4f2;
}

.#{$namespace}badge-success {
  background-color: #5eb95e;
}

.#{$namespace}badge-warning {
  background-color: #f37b1d;
}

.#{$namespace}badge-danger {
  background-color: #dd514c;
}

.#{$namespace}badge-line {
  padding: 2px 9px;
  border: 1px solid #999;
  background-color: #fff;
  color: #999;
}

.#{$namespace}badge-line-primary {
  background-color: #fff;
  border-color: #0e90d2;
  color: #0e90d2;
}

.#{$namespace}badge-line-secondary {
  background-color: #fff;
  border-color: #3bb4f2;
  color: #3bb4f2;
}

.#{$namespace}badge-line-success {
  background-color: #fff;
  border-color: #5eb95e;
  color: #5eb95e;
}

.#{$namespace}badge-line-warning {
  background-color: #fff;
  border-color: #f37b1d;
  color: #f37b1d;
}

.#{$namespace}badge-line-danger {
  background-color: #fff;
  border-color: #dd514c;
  color: #dd514c;
}