// color
.#{$namespace}red {
  color: #f00 !important;
}
.#{$namespace}pink {
  color: #FFC0CB !important;
}
.#{$namespace}purple {
  color: #800080 !important;
}
.#{$namespace}blue {
  color: #007cd9 !important;
}
.#{$namespace}royalblue {
  color: #37a6ed !important;
}
.#{$namespace}green {
  color: #006400 !important;
}
.#{$namespace}darkgreen {
  color: #4dcd70 !important;
}
.#{$namespace}yellow {
  color: #ff0 !important;
}
.#{$namespace}orange {
 color: #ff8100 !important;
}
.#{$namespace}black {
  color: #000 !important;
}
.#{$namespace}shallowblack {
  color: #333 !important;
}
.#{$namespace}gray {
  color: #999 !important;
}
.#{$namespace}darkgray {
  color: #5b5b5b !important;
}
.#{$namespace}shallowgray {
  color: #909090 !important;
}
.#{$namespace}white {
 color: #fff !important;
}

