// font

.#{$namespace}simsun {
  font-family: $font-family-arial !important;
}
.#{$namespace}bold {
  font-weight: bold !important;
}
.#{$namespace}normal {
  font-weight: normal !important;
}
.fs1 {
  font-size: $font-size-h1 !important;
}
.fs2 {
  font-size: $font-size-h2 !important;
}
.fs3 {
  font-size: $font-size-h3 !important;
}
.fs4 {
  font-size: $font-size-h4 !important;
}
.fs5 {
  font-size: $font-size-h5 !important;
}
.fs6 {
  font-size: $font-size-h6 !important;
}
.#{$namespace}line-h1 {
  line-height:1.8;
}
.#{$namespace}line-h2 {
  line-height:2.2;
}