// lists

%ml20{
  margin-left: 20px;
}
.#{$namespace}list-none {
  list-style-type: none;
}
.#{$namespace}list-disc {
  @extend %ml20;
  list-style-type:disc;
}
.#{$namespace}list-circle {
  @extend %ml20;
  list-style-type:circle;
}
.#{$namespace}list-square {
  @extend %ml20;
  list-style-type:square;
}
.#{$namespace}list-decimal {
  @extend %ml20;
  list-style-type:decimal;
}
.#{$namespace}list-alpha {
  @extend %ml20;
  list-style-type:lower-alpha;
}
.#{$namespace}list-roman {
  @extend %ml20;
  list-style-type:lower-roman;
}
.#{$namespace}list-inline {
  padding-left:0;
  margin-left:-5px;
  list-style:none;
}
.#{$namespace}list-inline li {
  display:inline-block;
  padding-right:5px;
  padding-left:5px;
}