.clearfix {
  @include clearfix();
}

.fl,.fr {
  display: inline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.#{$namespace}hide {
  display: none;
}

.#{$namespace}block {
  display: block;
}

.#{$namespace}inline-block {
  display: inline-block;
}

.#{$namespace}hidden {
  overflow: hidden;
  zoom: 1;
}

.#{$namespace}main {
  margin: 0 auto;
}

.#{$namespace}nowrap {
  max-width: 100%;
  _width: 100%;
  @include nowrap();
}

.#{$namespace}break {
  @include word-break();
}

.#{$namespace}auto {
  overflow: auto;
}

.#{$namespace}auto-y {
  overflow-y: auto;
}

.#{$namespace}auto-x {
  overflow-x: auto;
}

.#{$namespace}cursor-p {
  cursor: pointer;
}

.#{$namespace}cursor-d {
  cursor: default;
}

.#{$namespace}nodata{
  width: 100%;
  padding-top: 200px;
  color: $color-gray;
  background-image: url("nodata.png");
  background-position: center top;
  background-repeat: no-repeat;
}