//
// Variables
// --------------------------------------------------
$namespace: "c-" !default;

// Type
// --------------------------------------------------
$font-family-default: \5FAE\8F6F\96C5\9ED1,tahoma,arial,\5b8b\4f53 !default;
$font-size-default: 12px !default;
$line-height-default: 1.5 !default;
$font-weight: 500 !default;
$font-size-full: 100% !default;


