//
// Variables
// --------------------------------------------------
$namespace: "c-" !default;

$body-bg: #fff !default;




// Type
// --------------------------------------------------
$font-family-default: \5FAE\8F6F\96C5\9ED1,tahoma,arial,\5b8b\4f53 !default;
$font-size-default: 12px !default;
$line-height-default: 1.5 !default;
$font-weight: 500 !default;
$font-size-full: 100% !default;
$font-family-arial:\5b8b\4f53 !default;


//== color
// --------------------------------------------------
$color-default: #666 !default;
$color-main: #000 !default;
$color-gray: #999 !default;
$color-white: #fff !default;
$color-active: #4DB2EE !default;

$color-primary:         #428bca !default;
$color-success:         #5cb85c !default;
$color-info:            #5bc0de !default;
$color-warning:         #f0ad4e !default;
$color-danger:          #d9534f !default;

// font-size
// --------------------------------------------------
$font-size-h1:            floor(($font-size-default * 4)) !default; // 48px
$font-size-h2:            floor(($font-size-default * 3)) !default; // 36px
$font-size-h3:            floor(($font-size-default * 2.5)) !default; // 30px
$font-size-h4:            floor(($font-size-default * 2)) !default; // 24px
$font-size-h5:            floor(($font-size-default * 1.5)) !default; // 18px
$font-size-h6:            ceil(($font-size-default * 1.16)) !default; // 14px

// border-radius
// --------------------------------------------------
$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

$border-color: #e1e1e1 !default;

//== link
// --------------------------------------------------
$link-color:            #000 !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


//== Tables
// --------------------------------------------------
$table-cell-padding:            10px 5px !default;
$table-condensed-cell-padding:  5px !default;
$table-bg:                      transparent !default;
$table-th-bg:                   #f4f5f6 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #ddd !default;
$table-th-color:                #666 !default;

//== tabs
// --------------------------------------------------
$tabs-text-color:             #666 !default;
$tabs-text-hover-color:       #4DB2EE !default;
$tabs-border-color:           #e9e9e9 !default;
$tabs-border-curr-color:      #4DB2EE !default;
$tabs-bg-color:               #4DB2EE !default;

//== bgc
// --------------------------------------------------
$bgc-color:     (
    white:          #fff,
    gray:           #f3f3f3,
    darkgray:       #fdfdfd,
    shallowgray:    #f9f9f9
);

//== pagination
// --------------------------------------------------
$pagination-active-bg-color: #4DB2EE !default;
$pagination-active-border-color: #4DB2EE !default;


//== quote
// --------------------------------------------------
$quote-border-color:     (
        gray:           #e1e1e1,
        blue:           #428bca,
        red:            #d9534f,
        green:          #5cb85c,
        orange:         #f0ad4e
);


//== form
// --------------------------------------------------
$form-mini:     (
    height: 22px,
    size: 12px
) ;

$form-small:     (
    height: 28px,
    size: 12px
) ;
$form-medium:     (
    height: 32px,
    size: 12px
) ;
$form-large:     (
    height: 48px,
    size: 14px
) ;


$form-bg-color:               #fff !default;
$form-border-color:           #e5e5e5 !default;
$form-placeholder-color:      $color-gray !default;
$form-hover-color:            #d1d1d1 !default;
$form-focus-color:            #4DB2EE !default;
$form-disabled-bg-color:      #f4f4f4 !default;
$form-disabled-text-color:    #f7f7f7 !default;
$form-disabled-hover-color:   #e1e1e1 !default;
$form-readonly-bg-color:      #f9f9f9 !default;
//select2
$form-select2-active-color:   #4DB2EE !default;
//validation
$form-validation-errorbg-color:   #4DB2EE !default;
$form-validation-tipbg-color:   #33be40 !default;
//== step
// --------------------------------------------------
$step-active-color: #4DB2EE !default;

//== my97
// --------------------------------------------------
$my97-active-color: #4DB2EE !default;
$my97-wother-color: #4DB2EE !default;
$my97-on-color: #77ccfe !default;


//== icheck
// --------------------------------------------------
$icheckcheckbox: #{$namespace}checkbox- !default;
$icheckradio: #{$namespace}radio- !default;
$icheck-skin: blue !default;    //pngFile:  black,  aero,   blue,   green,   grey,   orange,   pink,   purple,   red,   yellow

// ie hack
// --------------------------------------------------
$filter:true !default;   //是否开启ie滤镜

// docs
// --------------------------------------------------
$bgc-main: #0c93e4 !default;
$bgc-side: #f6f9fa !default;
$side-border-right-width: 1px !default;
$side-border-right-color: #e3e3e3 !default;
$h45 : 45px;
$logo-bg: #259ee7 !default;
$brand-span-color: #fff !default;
$menu-a-hover: #259ee7 !default;
$menu-iconfont-color: #969696 !default;
$sidebar-toggler-bg: #303030 !default;

//nav
$nav-iconfont-color: #666 !default;
$nav-arrow-color: #bbb !default;
$nav-arrow-open-color: #fff !default;
$nav-arrow-before-color: #f6f9fa !default;
$nav-arrow-open-before-color: #bbb !default;
$nav-arrow-open-before-color1: #f0f0f0 !default;
$nav-arrow-active: #fff !default;
$nav-arrow-open: #bbb !default;
$nav-subul-arrow-right: #bbb !default;
$nav-subul-arrow: #bbb !default;
$nav-subul-arrow-open: #f0f0f0 !default;
$nav-arrow-active-open-top: #fff !default;
$nav-arrow-active-before: #4DB2EE !default;
$nav-arrow-active-open: #4DB2EE !default;
$nav-a-border: #e8e8e8 !default;
$nav-a-color: #666 !default;
$nav-a-hover: #f0f0f0 !default;
$nav-sub-a-color: #666 !default;
$nav-open-a-bg: #e3e3e3 !default;
$nav-a-selected: #4db2ee !default;
$nav-active-a-bg: #4DB2EE !default;
$nav-active-a-color: #fff !default;
$nav-active-iconfont-color: #fff !default;
$nav-subul-bg: #3d3d3d !default;

