// form
.#{$namespace}search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.#{$namespace}input , .#{$namespace}search-input{
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  height: 32px;
  cursor: text;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $color-default;
  background-color: $form-bg-color;
  background-image: none;
  border: 1px solid $form-border-color;
  border-radius: $border-radius-base;
  -webkit-transition: all .3s;
  transition: all .3s;
  &::-moz-placeholder {
    color: $form-placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $form-placeholder-color;
  }
  &::-webkit-input-placeholder {
    color: $form-placeholder-color;
  }
  &:hover {
    border-color: $form-hover-color;
  }
  &:focus {
    border-color: $form-focus-color;
    outline: 0;
  }
  &[readonly] {
    background-color: $form-readonly-bg-color;
    cursor: default;
  }
  &[disabled] {
    background-color: $form-disabled-bg-color;
    cursor: not-allowed;
    color: $form-disabled-text-color;
  }
  &[disabled]:hover {
    border-color: $form-disabled-hover-color;
  }
}

textarea.#{$namespace}input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.#{$namespace}search-btn {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  cursor: pointer;
  display: inline-block;
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: map-get($form-medium,height)/2+7 map-get($form-medium,height)/2+7;
  width: map-get($form-medium,height);
  height: map-get($form-medium,height);
}