.lx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}

.lx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/

.lx-wrapper .lx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.lx-wrapper .lx-pager,
.lx-wrapper .lx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */

.lx-wrapper .lx-loading {
  min-height: 50px;
  background: url(lx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */

.lx-wrapper .lx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.lx-wrapper .lx-pager .lx-pager-item,
.lx-wrapper .lx-controls-auto .lx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.lx-wrapper .lx-pager.lx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.lx-wrapper .lx-pager.lx-default-pager a:hover,
.lx-wrapper .lx-pager.lx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.lx-wrapper .lx-prev {
  left: 50%;
  margin-left:-45%;
  background: url(controls.png) no-repeat 0 -32px;
}

.lx-wrapper .lx-next {
  right: 50%;
  margin-right:-45%;
  background: url(controls.png) no-repeat -43px -32px;
}
.lx-wrapper .lx-prev:hover {
  background-position: 0 0;
}

.lx-wrapper .lx-next:hover {
  background-position: -43px 0;
}

.lx-wrapper .lx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.lx-wrapper .lx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */

.lx-wrapper .lx-controls-auto {
  text-align: center;
}

.lx-wrapper .lx-controls-auto .lx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.lx-wrapper .lx-controls-auto .lx-start:hover,
.lx-wrapper .lx-controls-auto .lx-start.active {
  background-position: -86px 0;
}

.lx-wrapper .lx-controls-auto .lx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.lx-wrapper .lx-controls-auto .lx-stop:hover,
.lx-wrapper .lx-controls-auto .lx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.lx-wrapper .lx-controls.lx-has-controls-auto.lx-has-pager .lx-pager {
  text-align: left;
  width: 80%;
}

.lx-wrapper .lx-controls.lx-has-controls-auto.lx-has-pager .lx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */

.lx-wrapper .lx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.lx-wrapper .lx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}





