/*
 * ztree styles
 */
.ztree * {
  padding: 0;
  margin: 0;
}

.ztree {
  margin: 0;
  padding: 5px;
  color: #333;
}

.ztree li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  outline: 0;
}

.ztree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.ztree li ul.line {
  background-image: url(ztree_line_conn.gif);
  background-repeat: repeat-y;
  background-position: 0 0;
}
.ztree li span.ztree-button , span.tmpzTreeMove_arrow {
  background-image: url(ztree_standard.png);
  /**background-image: url(ztree_standard.gif);*/
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.ztree li a {
  padding: 1px 3px 0 0 !important;
  margin: 0;
  cursor: pointer;
  color: #333;
  background-color: transparent;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  line-height: 1.2;
  font-size: 12px;
}

.ztree li a:hover {
  text-decoration: underline;
  background: none;
  color: #333;
}

.ztree li a.curSelectedNode {
  padding-top: 0px;
  background-color: #FFE6B0;
  color: black;
  height: 17px;
  opacity: 0.8;
}

.ztree li a.curSelectedNode_Edit {
  padding-top: 0px;
  background-color: #FFE6B0;
  color: black;
  height: 17px;
  opacity: 0.8;
}

.ztree li a.tmpTargetNode_inner {
  padding-top: 0px;
  background-color: #316AC5;
  color: white;
  height: 16px;
  border: 1px #316AC5 solid;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.ztree li a.tmpTargetNode_prev {
}

.ztree li a.tmpTargetNode_next {
}

.ztree li a input.rename {
  height: 14px;
  width: 80px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border: 1px #7EC4CC solid;
  *border: 0px;
}

.ztree li span {
  line-height: 16px;
  margin-right: 2px;
}

.ztree li span.ztree-button {
  line-height: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
}

.ztree li span.ztree-button.chk {
  width: 13px;
  height: 13px;
  margin: 0 3px 0 0;
  cursor: auto;
  overflow: hidden;
}

.ztree li span.ztree-button.chk.checkbox_false_full {
  background-position: 0 0;
}

.ztree li span.ztree-button.chk.checkbox_false_full_focus {
  background-position: 0 -14px;
}

.ztree li span.ztree-button.chk.checkbox_false_part {
  background-position: 0 -28px;
}

.ztree li span.ztree-button.chk.checkbox_false_part_focus {
  background-position: 0 -42px;
}

.ztree li span.ztree-button.chk.checkbox_false_disable {
  background-position: 0 -56px;
}

.ztree li span.ztree-button.chk.checkbox_true_full {
  background-position: -14px 0;
}

.ztree li span.ztree-button.chk.checkbox_true_full_focus {
  background-position: -14px -14px;
}

.ztree li span.ztree-button.chk.checkbox_true_part {
  background-position: -14px -28px;
}

.ztree li span.ztree-button.chk.checkbox_true_part_focus {
  background-position: -14px -42px;
}

.ztree li span.ztree-button.chk.checkbox_true_disable {
  background-position: -14px -56px;
}

.ztree li span.ztree-button.chk.radio_false_full {
  background-position: -28px 0;
}

.ztree li span.ztree-button.chk.radio_false_full_focus {
  background-position: -28px -14px;
}

.ztree li span.ztree-button.chk.radio_false_part {
  background-position: -28px -28px;
}

.ztree li span.ztree-button.chk.radio_false_part_focus {
  background-position: -28px -42px;
}

.ztree li span.ztree-button.chk.radio_false_disable {
  background-position: -28px -56px;
}

.ztree li span.ztree-button.chk.radio_true_full {
  background-position: -42px 0;
}

.ztree li span.ztree-button.chk.radio_true_full_focus {
  background-position: -42px -14px;
}

.ztree li span.ztree-button.chk.radio_true_part {
  background-position: -42px -28px;
}

.ztree li span.ztree-button.chk.radio_true_part_focus {
  background-position: -42px -42px;
}

.ztree li span.ztree-button.chk.radio_true_disable {
  background-position: -42px -56px;
}

.ztree li span.ztree-button.ztree-switch {
  width: 18px;
  height: 18px;
}

.ztree li span.ztree-button.root_open {
  background-position: -92px -54px;
}

.ztree li span.ztree-button.root_close {
  background-position: -74px -54px;
}

.ztree li span.ztree-button.roots_open {
  background-position: -92px 0;
}

.ztree li span.ztree-button.roots_close {
  background-position: -74px 0;
}

.ztree li span.ztree-button.center_open {
  background-position: -92px -18px;
}

.ztree li span.ztree-button.center_close {
  background-position: -74px -18px;
}

.ztree li span.ztree-button.bottom_open {
  background-position: -92px -36px;
}

.ztree li span.ztree-button.bottom_close {
  background-position: -74px -36px;
}

.ztree li span.ztree-button.noline_open {
  background-position: -92px -72px;
}

.ztree li span.ztree-button.noline_close {
  background-position: -74px -72px;
}

.ztree li span.ztree-button.root_docu {
  background: none;
}

.ztree li span.ztree-button.roots_docu {
  background-position: -56px 0;
}

.ztree li span.ztree-button.center_docu {
  background-position: -56px -18px;
}

.ztree li span.ztree-button.bottom_docu {
  background-position: -56px -36px;
}

.ztree li span.ztree-button.noline_docu {
  background: none;
}

.ztree li span.ztree-button.ico_open {
  margin-right: 2px;
  background-position: -110px -16px;
  vertical-align: top;
  *vertical-align: middle;
}

.ztree li span.ztree-button.ico_close {
  margin-right: 2px;
  background-position: -110px 0;
  vertical-align: top;
  *vertical-align: middle;
}

.ztree li span.ztree-button.ico_docu {
  margin-right: 2px;
  background-position: -110px -32px;
  vertical-align: top;
  *vertical-align: middle;
}

.ztree li span.ztree-button.edit {
  margin-right: 2px;
  background-position: -110px -48px;
  vertical-align: top;
  *vertical-align: middle;
}

.ztree li span.ztree-button.remove {
  margin-right: 2px;
  background-position: -110px -64px;
  vertical-align: top;
  *vertical-align: middle;
}

.ztree li span.ztree-button.ztree-ico-loading {
  margin-right: 2px;
  background: url(ztree_loading.gif) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}

ul.tmpTargetzTree {
  background-color: #FFE6B0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

span.tmpzTreeMove_arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 1px;
  border: 0 none;
  position: absolute;

  background-position: -110px -80px;
}

ul.ztree.zTreeDragUL {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #cfcfcf;
  border: 1px #00B83F dotted;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.zTreeMask {
  z-index: 10000;
  background-color: #cfcfcf;
  opacity: 0.0;
  filter: alpha(opacity=0);
  position: absolute;
}
/* ztree-slack */
.ztree-slack * {
  font-size: 14px;
}

.ztree-slack li ul {
  padding: 0 0 0 26px
}

.ztree-slack li ul.line {
  background-position: 4px 0
}

.ztree-slack li span {
  line-height: 28px;
}

.ztree-slack li span.ztree-button.ztree-switch {
  width: 28px;
  height: 28px;
}

.ztree-slack li span.ztree-button.ico_open {
  background-position: -199px -181px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 6px
}

.ztree-slack li span.ztree-button.ico_close {
  background-position: -199px -163px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 6px
}

.ztree-slack li span.ztree-button.center_close , .ztree-slack li span.ztree-button.root_close {
  background-position: -114px -182px;
}

.ztree-slack li span.ztree-button.bottom_close {
  background-position: -114px -210px;
}

.ztree-slack li span.ztree-button.bottom_open {
  background-position: -144px -210px;
}

.ztree-slack li span.ztree-button.center_open {
  background-position: -144px -182px;
}

.ztree-slack li span.ztree-button.roots_open {
  background-position: -144px -154px;
}

.ztree-slack li span.ztree-button.roots_close {
  background-position: -114px -154px;
}

.ztree-slack li span.ztree-button.center_docu {
  background-position: -86px -182px;
}

.ztree-slack li span.ztree-button.bottom_docu {
  background-position: -86px -210px;
}

.ztree-slack li span.ztree-button.ico_docu {
  background-position: -199px -199px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 6px
}

.ztree-slack li span.ztree-button.roots_docu {
  background-position: -144px -154px;
}

.ztree-slack li span.ztree-button.root_open {
  background-position: -144px -237px;
}

.ztree-slack li span.ztree-button.root_close {
  background-position: -114px -237px;
}

.ztree-slack li a.curSelectedNode {
  height: 26px;
}

.ztree-slack li span.ztree-button.edit , .ztree-slack li span.ztree-button.remove {
  vertical-align: middle;
}




.ztree-people li span.ztree-button.company_ico_open, .ztree-people li span.ztree-button.company_ico_close, .ztree-people li span.ztree-button.company_ico_docu{
  background-position: 2px -108px;
  position: relative;
  top: -2px;
  margin-right: 2px;
}
.ztree-people li span.ztree-button.branch_ico_open, .ztree-people li span.ztree-button.branch_ico_close, .ztree-people li span.ztree-button.branch_ico_docu{
  background-position: -28px -108px;
  position: relative;
  top: -2px;
  margin-right: 2px;
}

.ztree-people li span.ztree-button.people_ico_docu, .ztree-people li span.ztree-button.people_ico_close, .ztree-people li span.ztree-button.people_ico_open {
  background-position: -13px -108px;
  position: relative;
  top: -2px;
  margin-right: 2px;
}

.ztree-slack-people li span.ztree-button.company_ico_open, .ztree-slack-people li span.ztree-button.company_ico_close, .ztree-slack-people li span.ztree-button.company_ico_docu{
  background-position: -1px -289px;
  position: relative;
  top: -2px;
  margin-right: 2px;
}
.ztree-slack-people li span.ztree-button.branch_ico_open, .ztree-slack-people li span.ztree-button.branch_ico_close, .ztree-slack-people li span.ztree-button.branch_ico_docu{
  background-position: -37px -289px;
  position: relative;
  top: -2px;
  margin-right: 2px;
}

.ztree-slack-people li span.ztree-button.people_ico_docu, .ztree-slack-people li span.ztree-button.people_ico_close, .ztree-slack-people li span.ztree-button.people_ico_open {
  background-position: -18px -289px;
  position: relative;
  top: -2px;
  margin-right: 2px;
}