// tabs

.tabs-bd-box.curr {
  display: block;
}

.tabs-hd a.curr {
  cursor: default;
}

//tabs-one
.tabs-one .tabs-hd {
  border-bottom: $tabs-border-color 1px solid;
}

.tabs-one .tabs-hd a {
  display: inline-block;
  font-size: 16px;
  float: left;
  color: $tabs-text-color;
  line-height: 38px;
  padding: 0 15px;
}

.tabs-one .tabs-hd a:hover {
  color: $tabs-text-hover-color;
}

.tabs-one .tabs-hd a.curr {
  border-bottom: 3px solid $tabs-border-curr-color;
  color: $tabs-text-hover-color;
  line-height: 35px;
  position: relative;
  top: 2px;
}

.tabs-one-medium .tabs-hd a {
  font-size: 14px;
  line-height: 29px;
  padding: 0 10px;
}

.tabs-one-medium .tabs-hd a.curr {
  border-bottom: 2px solid $tabs-border-curr-color;
  color: $tabs-text-hover-color;
  line-height: 27px;
  top: 1px;
}

.tabs-one-small .tabs-hd a {
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
}

.tabs-one-small .tabs-hd a.curr {
  border-bottom: 2px solid $tabs-border-curr-color;
  color: $tabs-text-hover-color;
  line-height: 18px;
  top: 1px;
}

//tabs-two
.tabs-two .tabs-hd {
  border-bottom: $tabs-border-color 1px solid;
}

.tabs-two .tabs-hd a {
  position: relative;
  display: block;
  font-size: 16px;
  text-align: center;
  color: $tabs-text-color;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  padding: 0 20px;
  border: 1px solid $tabs-border-color;
  border-bottom: none;
  margin-right: 5px;
  background: #fff;
  border-radius: 2px 2px 0 0;
  *width: 100px;
  *padding: 0;
  float: left;
}

.tabs-two .tabs-hd a:hover {
  color: $tabs-text-hover-color;
}

.tabs-two .tabs-hd a.curr {
  background: $tabs-bg-color;
  color: #fff;
  border-color: $tabs-border-curr-color;
}

.tabs-two-medium .tabs-hd a {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
}

.tabs-two-small .tabs-hd a {
  font-size: 12px;
  height: 20px;
  line-height: 18px;
  padding: 0 10px;
}

//tabs-thr
.tabs-thr .tabs-hd a {
  margin-right: 5px;
  line-height: 1.6;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 2px 2px 0 0;
  float: left;
  margin-bottom: -1px;
  color: $tabs-text-color;
  padding: 0px 15px;
  line-height: 38px;
}

.tabs-thr .tabs-hd a.curr {
  color: $tabs-text-hover-color;
  background-color: #fff;
  border: 1px solid $tabs-border-color;
  border-bottom-color: transparent;
}

.tabs-thr .tabs-bd {
  border: $tabs-border-color 1px solid;
}

.tabs-thr-medium .tabs-hd a {
  font-size: 14px;
  line-height: 28px;
  padding: 0px 10px;
}

.tabs-thr-small .tabs-hd a {
  font-size: 12px;
  line-height: 18px;
  padding: 0px 10px;
}
