// header
$bgc-main: #212121 !default;
$bgc-side: #3d3d3d !default;
$h45 : 45px;

.header-inner {
  width: 100%;
  height: $h45;
  background-color: $bgc-main;
  position: relative;
}
.logo {
  padding: 0 20px;
  .brand {
    color: $color-white;
    font-size: $font-size-h5;
    line-height: $h45;
  }
}
.sidebar {
  position: fixed;
  width: 225px;
  @include abs-pos($h45,auto,0,0);
  background-color: $bgc-side;
}
.sidebar-toggler {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  background-color: #303030;
  overflow: hidden;
  i.iconfont {
    font-size: $font-size-h4;
    color: #969696;
  }
}
.container {
  .content {
    margin-left: 225px;
  }
  &.closed .sidebar {
    width: 35px;
  }
  &.closed .content{
    margin-left: 35px;
  }
}