// nav
.navicon.indent {
  position: relative;
  top:7px;
  transform: rotateZ(180deg);
}
ul.c-nav-ul > li {
  display: block;
  a {
    @include clearfix();
    i.iconfont {
      color: $nav-iconfont-color;
      margin-right: 5px;
      text-shadow:none;
      float: left;
    }
    span.title {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width:80%;
      float: left;
    }
    .arrow , .arrow:before , .selected , .arrow.open , .arrow.open:before{
      position: relative;
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
      float: right;
      top: 8px;
      border-color: transparent;
      border-style: dashed;
      border-width: 5px;
    }
    .arrow{
      border-right-style: solid;
      border-right-color: $nav-arrow-color;
    }
    .arrow:before, .arrow.open:before{
      content: ' ';
      position: absolute;
      display: block;
    }
    .arrow:before{
      border-right-color: $nav-arrow-before-color;
      top: -5px;
      right: -6px;
    }
    .arrow.open {
      border-top-style: solid;
      border-top-color: $nav-arrow-open-color;
    }
    .arrow.open:before {
      border-top-color: $nav-arrow-open-before-color;
      right: auto;
      top: auto;
      bottom: -4px;
      left: -5px;
    }
    &:hover .arrow:before, &:hover .arrow.open:before {
      border-right-color: $nav-arrow-open-before-color1;
    }
    &:hover .arrow.open:before {
      border-right-color: inherit;
    }
  }
  &.open{
    a:hover .arrow:before {
      border-right-color: $nav-arrow-open-before-color;
    }
    a .arrow.open {
      border-top-color: $nav-arrow-open;
    }
    a .arrow.open:before {
      border-right-color: inherit;
      border-top-color: $nav-arrow-open-before-color;
    }
    > a .arrow.open:before {
      border-right-color: inherit;
      border-top-color: $nav-arrow-open-before-color1;
    }
    > ul.sub-ul {
      a .arrow.open {
        border-top-color: $nav-subul-arrow !important;
      }
      a .arrow.open:before {
        border-top-color: $nav-subul-arrow-open !important;
      }
    }
  }
  &.start > a {
    border-top-color: transparent !important;
  }
  > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: $font-size-h6;
    font-weight: 300;
    border-top: 1px solid $nav-a-border !important;
    color: $nav-a-color;
  }
  &:first-child > a{
    border-top-color: transparent !important;
  }
  &:last-child > a{
    border-bottom-color: transparent !important;
  }
  &.open > a,
  > a:hover,
  &:hover > a {
    background: $nav-a-hover;
  }
  > ul.sub-ul {
    display: none;
    list-style: none;
    clear: both;
    margin: 8px 0px 8px 0px;
    li {
      > ul.sub-ul > li > a {
        display: block;
        margin: 0px 0px 0px 0px;
        padding: 5px 15px 5px 0px;
        text-decoration: none;
        font-size: $font-size-h6;
        font-weight: 300;
        background: none;
        line-height: 2;
        color: $nav-sub-a-color;
      }
      > ul.sub-ul > li.active > a,
      > ul.sub-ul > li > a:hover,
      &.open > a {
        color: $nav-a-color !important;
        background: $nav-open-a-bg !important;
      }
    }
    > li {
      background: none;
      margin: 0px;
      padding: 0px;
      margin-top: 1px !important;
      &.active > a,
      > a:hover {
        color: $nav-a-color;
        background: $nav-open-a-bg;
      }
      > a {
        display: block;
        margin: 0px 0px 0px 0px;
        padding: 5px 15px 5px 0px;
        padding-left: 30px !important;
        text-decoration: none;
        font-size: $font-size-h6;
        font-weight: 300;
        background: none;
        line-height: 2;
        color: $nav-sub-a-color;
      }
      ul.sub-ul {
        display: none;
        list-style: none;
        clear: both;
        margin: 0px 0px 0px 0px;
        li {
          background: none;
          margin: 0px;
          padding: 0px;
          margin-top: 1px !important;
        }
      }
      > ul.sub-ul {
        > li {
          > a {
            padding-left: 50px;
          }
          > ul.sub-ul > li > a {
            padding-left: 70px;
          }
        }
      }
    }
  }
  &.active {
    &.open {
      .arrow.open{
        border-top-color: $nav-arrow-active-open-top;
      }
    }
    .arrow {
      border-right-color: $nav-arrow-active;
    }
    a .selected {
      border-right-color: $nav-a-selected;
      position: absolute;
      right:0px;
      top:14px;
      border-width: 8px;
    }
    > a {
      border: none;
      text-shadow:none;
      background: $nav-active-a-bg !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      color: $nav-active-a-color;
      i.iconfont {
        color: $nav-active-iconfont-color;
      }
      .arrow:before {
        border-right-color: $nav-arrow-active-before;
      }
      .arrow.open:before {
        border-right-color: inherit;
        border-top-color: $nav-arrow-active-open;
      }
    }
    > ul.sub-ul {
      display: block;
      > li.active ul.sub-ul > li.active ul.sub-ul {
        display: block;
      }
      > li:first-child > a {
        border-top: 0px !important;
      }
    }
    > li.active ul.sub-ul {
      display: block;
    }
  }

}

.sidebar-closed {
  ul.c-nav-ul {
    width: 35px !important;
    > li {
      > a {
        padding-left: 7px;
        .selected {
          right: -3px !important;
        }
        > .title, > .arrow {
          display: none !important;
        }
      }
      > ul.sub-ul {
        display: none !important;
        > li > .sub-ul > li {
          > a {
            padding-left: 30px !important;
          }
          > .sub-ul > li > a {
            padding-left: 45px !important;
          }
        }
      }
    }
    > li:hover {
      width: 225px !important;
      position: relative !important;
      z-index: map-get($z-index, navli);
      display: block !important;
      .selected {
        display: none;
      }
      > a > i {
        margin-right: 20px;
      }
      .title {
        display: inline-block !important;
      }
      a:hover .arrow:before {
        border-right-color: $nav-arrow-open-before-color;
      }
      a:hover .arrow.open:before {
        border-right-color: inherit;
        border-top-color: $nav-arrow-open-before-color;
      }
      .sub-ul {
        background-color: $nav-subul-bg;
      }
      > .sub-ul {
        width: 189px;
        position: absolute;
        z-index: map-get($z-index, navsubul);
        left: 36px;
        margin-top: 0;
        top: 100%;
        display: block !important;
        > li > .sub-ul, > li > .sub-ul > li > .sub-ul{
          width: 189px;
        }
        > li > a {
          padding-left: 15px !important;
        }
      }
    }
  }
}



.sidebar-closed-wrap {
  position: fixed;
  left: 35px;
  top: 45px;
  z-index: 11111;
  padding: 0 5px;
  width: 200px;
}
.sidebar-closed-box{
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 5px #888888;
  a{
    display: block;
    line-height: 35px;
    color: $nav-a-color;
    padding-left: 15px;
    &:hover{
      background: #e9e9e9;
    }
  }
  ul{
    list-style: none;
    li{
      ul{
        margin-left: 15px;
      }
    }
  }
}


















