.#{$icheckcheckbox}border,
.#{$icheckradio}border {
  position: relative;
  top: -1px;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  background-image: url("iCheck_border_#{$icheck-skin}.png");
  background-repeat: no-repeat;
}

.#{$icheckcheckbox}border {
  background-position: 0 0;
  &.hover {
    background-position: -20px 0;
  }
  &.checked {
    background-position: -40px 0;
  }
  &.disabled {
    background-position: -60px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -80px 0;
  }
}

.#{$icheckradio}border {
  background-position: -100px 0;
  &.hover {
    background-position: -120px 0;
  }
  &.checked {
    background-position: -140px 0;
  }
  &.disabled {
    background-position: -160px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -180px 0;
  }
}