.#{$icheckcheckbox}flat,
.#{$icheckradio}flat {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  background: url(iCheck_flat_#{$icheck-skin}.png) no-repeat;
}

.#{$icheckcheckbox}flat {
  background-position: 0 0;
  &.checked {
    background-position: -22px 0;
  }
  &.disabled {
    background-position: -44px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -66px 0;
  }
}

.#{$icheckradio}flat {
  background-position: -88px 0;
  &.checked {
    background-position: -110px 0;
  }
  &.disabled {
    background-position: -132px 0;
    cursor: default;
  }
  &.checked.disabled {
    background-position: -154px 0;
  }
}