.#{$icheckcheckbox}line,
.#{$icheckradio}line {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 15px 5px 38px;
  font-size: inherit;
  line-height: inherit;
  color: map_get(map_get($icheck-line-list,$icheck-skin),color);
  background: map_get(map_get($icheck-line-list,$icheck-skin),bg);
  border: none;
  -webkit-border-radius: $border-radius-base;
  -moz-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
  cursor: pointer;
}
.#{$icheckcheckbox}line .line-icon,
.#{$icheckradio}line .line-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  width: 13px;
  height: 11px;
  margin: -5px 0 0 0;
  padding: 0;
  overflow: hidden;
  background: url(iCheck_line.png) no-repeat;
}
.#{$icheckcheckbox}line.hover,
.#{$icheckcheckbox}line.checked.hover,
.#{$icheckradio}line.hover {
  background: #444;
}
.#{$icheckcheckbox}line.checked,
.#{$icheckradio}line.checked {
  background: #000;
}
.#{$icheckcheckbox}line.checked .line-icon,
.#{$icheckradio}line.checked .line-icon {
  background-position: -15px 0;
}
.#{$icheckcheckbox}line.disabled,
.#{$icheckradio}line.disabled {
  background: #ccc;
  cursor: default;
}
.#{$icheckcheckbox}line.disabled .line-icon,
.#{$icheckradio}line.disabled .line-icon {
  background-position: -30px 0;
}
.#{$icheckcheckbox}line.checked.disabled,
.#{$icheckradio}line.checked.disabled {
  background: #ccc;
}
.#{$icheckcheckbox}line.checked.disabled .line-icon,
.#{$icheckradio}line.checked.disabled .line-icon {
  background-position: -45px 0;
}